/Kuis/KuisSatuPramudyaWibowo/nbproject/private/
/Kuis/KuisSatuPramudyaWibowo/build/
/Pertemuan 7/minggu7/nbproject/private/
/Pertemuan 7/minggu7/build/
/Pertemuan 7/TugasJobsheet7/build/
/UJIAN TENGAH SEMESTER/UTS/nbproject/private/
/UJIAN TENGAH SEMESTER/UTS/build/